{% extends 'register/login.html'%}
{% block content %}
    <div class="form_container">
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <h1>Welcome</h1>
            <h3>Sign Up to start</h3>

            <input id="text" type="text" name="first_name" placeholder="First Name" required><br>
            <input id="text" type="text" name="last_name" placeholder="Last Name" required><br>
            <input id="text" type="email" name="email" placeholder="Email" required><br>
            <input id="text" type="password" name="password1" placeholder="Password" required>            <br>
            <input id="text" type="password" name="password2" placeholder="Confirm Password" required><br>
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            <input type="submit" name="submit" id="submit" value="Register"><br>
            <div class="linkk">
                    <a href="{% url 'home' %}">Go Home</a>
                    <a href="{% url 'login' %}">Log In</a>
                </div>
        </form>
        <div class="signup">
                <div class="user">
                    <h1>Hello User</h1>
                    <p>Taskpro helps to store and manage your task effectively</p>
                </div>

                <div class="details">
                    <p>Already have an account<br>
                    <a href="{% url 'login' %}">Login</a>
                    </p>
                </div>
                
                <div class="home">
                    <a href="{% url 'home' %}">Go Home</a>
                </div>
            </div>
        
    </div>

{% endblock %}