{% extends 'register/login.html'%}

{% block content %}
<style>
       form {
  max-width: 500px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

form label{
  margin-bottom: 0px;
  font-weight: bold;
  color: #333;
  text-align: center;
}


form input, form textarea, form select {
  width: 70%;
  padding: 10px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.add{
  margin: 100px auto;
  width: 40%;
  color: white;
  background-color: rgb(29, 28, 28);
  font-size: 1.2em;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.add a{
  color: white;
  text-decoration: underline;
}

@media(max-width: 850px){

  .form_container{
    margin-top: 30px;
  }
  .linkk{
    width: 70;
  }

  .linkk a{
    width: 95%;
    font-size: 1em;
  }
}
    
</style>    
{% if user.is_authenticated %}
<div class="form_container">
    <form action="{% url 'addtask' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title" id="title"><br>
        <label>Description:</label><br>
        <input type="text" name="tasks" id="tasks" required><br>

        <select name="priority" >
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        <br>
        <input type="submit" id="submit" value="Add Task">
        <div class="linkk">
          <a href="{% url 'home' %}">Back</a>
        </div>
    </form>
</div>
{% else %}

<div class="add">
    <p><a href="{% url 'login' %}">Login</a> before adding task</p>

</div>
{% endif %}
{% endblock %}

