{% extends 'register/login.html'%}

{% block content %}
{% if user.is_authenticated %}
<div class="form_container">
    <form action="{% url 'addtask' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label><br>
        <input type="text" name="title" id="title"><br>
        <label>Description:</label><br>
        <input type="text" name="tasks" id="tasks"><br>
        <input type="submit" id="submit" value="Add Task">
    </form>
</div>
{% else %}
<div 
style="box-shadow: 0 0 2px 0.8px;
        width: 150px;
        text-align: center;
        align-items: center;
        font-weight: bold;
        padding: 20px;
        margin: 200px auto;
        border-radius: 10px;">
    <p><a href="{% url 'login' %}">Login</a> before adding task</p>

</div>
{% endif %}
{% endblock %}