 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        {% block content %}
            <div class="navbar">
                <nav>
                    <ul>
                        <li>
                            <input type="search" placeholder="Search for task...">
                        </li>
                        
                        <li>
                            <div class="profile">
                                {% if user.is_authenticated %}
                                    <div class="profilepic">{{ profile }}</div>
                                    <div class="username">{{ username }}</div>
                                {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                    <a href="{% url 'signup' %}">SignUp</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        {% endblock %}
    </header>
    
</body>
</html>