{% extends 'change_email.html' %}

{% block content %}
<style>
  .email{
    width: 40%;
    margin: 70px auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 0.7px;
    padding: 10px;
    text-align: center;
  }

   form{
    margin-bottom: 20px;
  }

  form input{
    width: 60%;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 10px;
  }

  form button{
    width: 50%;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(255, 255, 255);
    background-color: green;
    font-size: 0.9;
  }

  form a{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: bold;
    width: 50%;
  }

  form div{
    display: flex;
    width: 80%;
    gap: 1em;
    margin: 10px auto;
  }

  @media(max-width: 800px){
    .email{
      width: 70%;
    }
  }
</style>

<div class="email">
  <h2>Change Password</h2>
  <form method="post">
    {% csrf_token %}
    <input type="password" name="password" placeholder="New password" required>
    <input type="password" name="confirm_password" placeholder="Confirm password" required>

    <div>
    <button type="submit">Change Password</button>
    <a href="{% url 'profile' %}">Cancel Changes</a>
    </div>

  </form>
</div>
{% endblock %}