{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<style>
    .task_page{
        width: 70%;
        margin: 70px auto;
    }

    .side_bar{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .side_bar a{
        color: white;
        background-color: black;
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
        transition: linear 0.3s;
    }

    .side_bar a:hover{
        transition: linear 0.1s;
        background-color: rgb(95, 93, 93);
    }
</style>

<body>
    <header>
        <div class="navbar">
                <nav>
                    <div class="logo">
                        <h2>TaskPro</h2>
                    </div>
                    
                    <ul>
                        <li>
                            <input id="search" type="search" placeholder="Search for task...">
                        </li>
                        
                        <li>
                            <div class="profile" style="display: flex; align-items: center;">
                                {% if user.is_authenticated %}
                                    <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" width="30" height="30" style="border-radius: 50%; text-align: center;">
                                    <a href="{% url 'profile' %}" style="color: black; background-color: transparent;"> {{ user.first_name }}</a>
                                {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                    <a href="{% url 'signup' %}">SignUp</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
    </header>

    <main>
        <div class="task_page">
            <div class="side_bar">
                <div class="container">
                    <a href="{% url 'home' %}" id="todolist">To-do-List</a>
                    <a href="" id="completed">Completed</a>
                    <a href="" id="progress">In Progress</a>
                </div>

                <div class="task_add">
                    <a href="{% url 'addtask' %}">Add Task +</a>
                </div>
            </div>

            <div class="main">
                

                        {% for task in tasks %}
                            <div class="pages">
                                <div class="task">
                                    <strong>{{ task.title}}</strong><br>
                                    <hr>
                                    <p>{{ task.tasks }}</p> 
                                    <div>
                                        <a href="">Edit Task</a>
                                        <a href="{% url 'delete_task' task.id%}">Delete Task</a>
                                        <a href="">Mark as Completed</a>
                                    </div>
                                </div>
                                
                                <div class="time">
                                    <small>{{ task.date_created }}</small>
                                </div>
                            </div>
                            
                        {% empty %}
                            <h3>No task added</h3>
                        {% endfor %}

            </div>
        </div>
    </main>
</body>
</html>