<style>
    *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar nav ul li{
    list-style-type: none;
}

.navbar nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar nav{
    padding: 3px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav ul li a:last-child{
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.navbar nav ul li a:first-child{
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.navbar nav ul{
    width: 30%;
}

.logo{
    width: 60%;
}

#search{
    background-color: transparent;
    border: white solid 2px;
    padding: 10px;
    border-radius: 5px;
    border-color: black     ;
}

</style>
{% block content %}
<div class="navbar">
                <nav>
                    <div class="logo">
                        <h2>TaskPro</h2>
                    </div>
                    
                    <ul>
                        <li>
                            <input id="search" type="text" placeholder="Search for task..." name="q" value="{{ request.GET.q }}">
                            <input type="submit" value="Search">
                        </li>
                        
                        <li>
                            <div class="profile" style="display: flex; align-items: center;">
                                {% if user.is_authenticated %}
                                    <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" width="30" height="30" style="border-radius: 50%; text-align: center;">
                                    <a href="{% url 'profile' %}" style="color: black; background-color: transparent;"> {{ user.first_name }}</a>
                                {% else %}
                                    <a href="{% url 'login' %}">Login</a>
                                    <a href="{% url 'signup' %}">SignUp</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
{% endblock %}