{% load static %}
<style>
    *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }



#search{
    background-color: transparent;
    border: white solid 2px;
    padding: 10px;
    border-radius: 5px;
    border-color: black     ;
}

.profile{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0px auto;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 3em;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

#sign{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: linear 0.3s;
    margin-left: 5px;
}

#sign:hover{
    transition: linear 0.3s;
    background-color: rgb(82, 79, 79);
}

#log, #profile{
    color: black;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;
    margin-left: 5px;
}

#log:hover{
    text-decoration: underline;
    transition: all 0.3s;
}

 @media(max-width: 800px){
        nav{
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            backdrop-filter: blur(5px);
        }
        .navbar ul li:first-child{
            display: none;
        }

        nav{
            justify-content: space-around;
            display: flex;
        }

      
        
    }

</style>
{% block content %}
<div class="navbar">
    <nav>
        <div class="logo">
            <h2>TaskPro</h2>
        </div>
        
        <ul>
            <li>
                <form method="POST">
                <input id="search" type="text" placeholder="Search for task..." name="q" value="{{ request.GET.q }}">
                <input type="submit" value="Search">
                </form>
            </li>
            
            <li>
                <div class="profile">
                    {% if user.is_authenticated %}
                        {% if user.profile.profile_image.url %}
                        <img src="{{ user.profile.profile_image.url }}" alt="Profile" width="40" height="40" style="border-radius: 50%;">
                        {% else %}
                        <img src="{% static 'image/user.jpg' %}" alt="">
                        {% endif %}
                        <a id="profile" href="{% url 'profile' %}" style="color: black; background-color: transparent;"> {{ user.first_name }}</a>
                    {% else %}
                        <a id="log" href="{% url 'login' %}">Login</a>
                        <a id="sign" href="{% url 'signup' %}">SignUp</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}