{% extends "register/signup.html"%}
{% load static %}
{% block content %}

<style>
    .profile{
        background-color: rgb(241, 230, 230);
        width: 50%;
        border-radius: 5px;
        margin: 10px auto;
        padding: 30px;
        color: black;
    }

    .name{
        text-align: center;
        margin-bottom: 30px;
    }

    .name h1, p{
        margin: 0;
    }

    .edit a{
        display: flex;
        background-color: rgb(190, 185, 185);
        border-radius: 6px;
        padding: 7px;
        color: black;        
    }    
    img{
        border-radius: 50%;
    }

    .form{
        margin-bottom: 30px;
        text-align: center;
    }

    .form #submitbtn{
        background-color: black;
        font-weight: bold;
        font-size: 0.9em;
        padding: 10px;
        color: white;
        border: none;
        border-radius: 5px;
        transition: all 0.3s;
        margin-top: 5px;
    }

    .form #submitbtn:hover{
        transition: all 0.3s;
        background-color: rgb(58, 57, 57);
    }

    #file{
        background-color: transparent;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid black;
        width: 170px;
        margin: 5px;
    }

    @media (max-width: 900px){
        .profile{
            width: 80%;
        }
    }
</style>
<div class="profile">
    <div class="name">
        <div class="profile_img">
            {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" width="150" height="150">
            {% else %}
                <img src="{% static 'user.jpg' %}" alt="Default Profile Picture" width="150" height="150">
            {% endif %}
        </div>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>Email: {{ user.username }}</p>
    </div>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.profile.profile_image %}
            <label for="">Change Profile Picture</label><br>
            <input id="file" type="file" name="profile_image"><br>
            <input type="submit" value="Change Profile Image" id="submitbtn"><br><br>
            <a id="submitbtn" href="{% url 'remove_profile_picture' %}">Remove Profile Picture</a>
            {% else %}
            <input id="file" type="file" name="profile_image"><br>
            <input type="submit" value="Upload" id="submitbtn">
            {% endif %}
        </form>
    </div>

    <div class="edit">
        <a href="{% url 'change_password' %}"><span> Change password</span></a><br>
        <a href="{% url 'change_email' %}"><span>Change email</span></a><br>
        <a href="{% url 'delete_account' %}"><span>Delete account</span></a><br>
        <a href="{% url 'logout' %}"><span>Logout</span></a><br>
        <a href="{% url 'home' %}"><span>Go Home</span></a>
    </div>
</div>
{% endblock %}
