{% extends "register/signup.html"%}
{% block content %}

<style>
    .profile{
        background-color: rgb(241, 230, 230);
        width: 30%;
        border-radius: 5px;
        margin: 10px auto;
        padding: 30px;
    }

    .circle{
        color: white;
        background-color: grey;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto;
    }

    .name{
        text-align: center;
    }

    .name h1, p{
        margin: 0;
    }
</style>
<div class="profile">
    <div class="name">
        <div class="profile_img">
            {% if user.profile.profile_image.url != '/media/default.jpg/' %}
            <div class="circle">Profile Image</div>
            {% else %}
            <img src="{{ user.profile.profile_image.url }}" alt="Profile Picture" width="150" height="150">
            {% endif %}
        </div>
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>Email: {{ user.username }}</p>
    </div>

    <div class="form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.profile.profile_image.url != '/media/default.jpg/'%}
            <label for="">Add Profile Picture</label><br>
            {% else %}
            <label for="">Change Profile Picture</label><br>
            {% endif %}
            <input type="file" name="profile_image"><br>
            <input type="submit" value="Upload">
        </form>
    </div>

    <div>
        <a href="">Change password</a><br>
        <a href="">Change email</a>

    </div>
    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="home">
       <a href="{% url 'home' %}">Go Home</a>
    </div>
</div>
{% endblock %}
