{% extends 'register/signup.html'%}

    {% block content %}

<style>
    .page{
        margin: 70px auto;
    }

    form {
  max-width: 500px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}


form input, form textarea, form select {
  width: 90%;
  padding: 10px;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

</style>

<div class="page">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save Changes">
    </form>
</div>
    {% endblock %}
