{% extends 'register/signup.html'%}

    {% block content %}

<style>
    .page{
        margin: 70px auto;
    }

    form {
  max-width: 500px;
  margin: 40px auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}


form input, form textarea{
  width: 90%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form select{
  width: 95%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#btn{
  width: 40%;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}

a{
  width: 40%;
  background-color: rgb(243, 11, 11);
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;

}

.page div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px auto;
  width: 90%;
}

</style>

<div class="page">
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
    <input id="btn" type="submit" value="Save Changes">
    <a href="{% url 'home' %}">Cancel</a>
    </div>
    </form>
    
</div>
    {% endblock %}
